# Deliverable 2

In [1]:
# Import Dependancies
import pandas as pd

In [2]:
# Use PgAdmin to export the vine_table as a csv file

# Read in the vine_table.csv file
vine_df = pd.read_csv("./Resources/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643615,R13RP6H1OP0BFS,5.0,3.0,3.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643617,R30D2N6TX0OFS,3.0,7.0,7.0,N,Y
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [3]:
# Explore the dataframe using the info method
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643619 entries, 0 to 2643618
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 121.0+ MB

## Step 1

In [6]:
# Filter vine_df for all rows where total_votes >= 20
vine_df_20 = vine_df.loc[vine_df["total_votes"]>= 20]
vine_df_20
# This reduces the total rows from 2,643,619 tp 39,376

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643586,RDDVO19Y8YH01,1.0,12.0,56.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

## Step 2

In [7]:
# Filter vine_df_20 where helpful_votes/total_votes >= 0.50
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"]/ vine_df_20["total_votes"])>= 0.50]
vine_df_50

#this reduces the number of rows from 39,376 to 38,010

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

## Step 3

In [8]:
# filter vine_df_50 where vine = "Y"
paid_reviews_df = vine_df_50.loc[vine_df_50["vine"]== "Y"]
paid_reviews_df

# There are 170 paid reviews( that meet the criteria from steps 1 & 2)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,Y,N
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,Y,N
2597830,RJXG84I331N9T,3.0,146.0,154.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N

## Step 4

In [10]:
# filter vine_df_50 where vine = "N"
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == "N"]
unpaid_reviews_df

# note there are 37,840 unpid reviews ( that meet the filter criteria from steps 1 & 2)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

## Step 5a. Paid reviews

In [12]:
# Determine the count of paid 5 star reviews
paid_5star_reviews = paid_reviews_df.loc[paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

65

In [13]:
# Determine the count of paid reviews
paid_reviews = paid_reviews_df["star_rating"].count()
paid_reviews

170

In [15]:
# Determine the percentage of paid_5star_reviews
#percentage_paid_5star_reviews = paid_5star_reviews / paid_reviews
percentage_paid_5star_reviews = round((paid_5star_reviews / paid_reviews) * 100, 2)
percentage_paid_5star_reviews

38.24

## Step 5b. Unpaid reviews

In [16]:
# Determine the count of paid 5 star reviews
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

20612

In [17]:
# Determine the count of unpaid reviews
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

37840

In [18]:
# Determine the percentage of unpaid_5star_reviews
#percentage_unpaid_5star_reviews = unpaid_5star_reviews / unpaid_reviews
percentage_unpaid_5star_reviews = round((unpaid_5star_reviews / unpaid_reviews) * 100, 2)
percentage_unpaid_5star_reviews

54.47